@charset "UTF-8";

@page {
  size: Letter;
  margin: 1.5cm;
  @bottom-right {
    color: #a9a;
    content: "Página " counter(page) " de " counter(pages);
    font-family: 'Arial Narrow';
    font-size: 9pt; } }

html {
  color: black;
  font-family: Arial Narrow;
  font-size: 11pt;
  line-height: 1.6; }
  html body {
    margin: 0; }
  html h1 {
    color: black;
    font-family: Arial Narrow;
    font-size: 40pt;
    margin: 0; }
  html aside {
    display: flex;
    margin: 2em 0 4em;

     }
    html aside address {
      font-style: normal;
      white-space: pre-line; }
      html aside address#from {
        color: black;
        flex: 1; }
      html aside address#to {
        text-align: right; }


  html dl {
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    border-width: 2px;
    border-color: red;
    border-style: solid;
    margin: 0;
    padding: 1em 1em;
    }
    html dl dt, html dl dd {
      display: inline;
      margin: 0; }
    html dl dt {
      color: black; }
      html dl dt::before {
        content: '';
        display: block; }

  html div#info_proveedor {
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;

  }

  html div#referencias_table {
    padding-top: 22em;
    white-space: pre-line;
    width: 50%;
    left: 0;
    top: 0em;
    font-size: 10px;
    html table {
        color:red;
    }
  }

  html div#item_table {
    padding-top: 2em;
    width: 100%;
    left: 0;
    top: 17em;
  }

  html div#item_table td:nth-child(3) {
    text-align: left;
  }

  html div#item_table td:nth-child(5) {
    text-align: right;
  }

    html div#item_table td:nth-child(6) {
    text-align: right;
  }

  html div#receiver_data {
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    top: 10em;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    font-size: 10pt;
  }

  html section#imagen-svg {
  background: url(barcode.svg) no-repeat;
  background-size: contain;
  position: absolute;
  background-position: center, center;
  height: 3.2cm;
  margin-top: 0.2cm;
  margin-bottom: 0.2c;
  vertical-align: middle;}

  html table {
    border-collapse: collapse;
    line-height: 1;
    width: 100%; }
    html table th {
      border-bottom: .2mm solid #a9a;
      color: black;
      font-size: 10pt;
      font-weight: 400;
      padding-bottom: .25cm;
      text-transform: uppercase; }
    html table td {
      padding-top: 3mm; }
      html table td:last-of-type {
        color: black;
        text-align: right; }
    html table th, html table td {
      text-align: center; }
      html table th:first-of-type, html table td:first-of-type {
        text-align: left; }
      html table th:last-of-type, html table td:last-of-type {
        text-align: right; }

    html div#impuestos_table {
      bottom: 6.5cm;
      line-height: 1;
      margin: 0;
      position: absolute;
      width: 30%;
      font-size: 3mm
      ;
}

    html div#total {
      bottom: 0;
      margin: 0;
      position: absolute;
      width: 100%;
      }
