<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="invoice.css" media="print" rel="stylesheet">
    <title>Invoice</title>
    <meta name="description" content="Invoice demo sample">
    <meta name="author" content="Kozea">
</head>

<body>
<div id="info_proveedor">
    <dt style="font-weight: 700;">{{supplier_name}}</dt>
    <dt>{{supplier_activity}}</dt>
    <dt>{{supplier_address_detail}}</dt>
    <dt>{{supplier_address_comuna}} - {{supplier_address_city}}</dt>

</div>

<dl id="informations">
    <dt>R.U.T.: {{rut}}</dt>
    <dt>{{tipo_documento}}</dt>
    <dt>Nº: {{bill_no}}</dt>
    <dt>{{fecha_emision}}</dt>
</dl>

<div id="receiver_data">
    <div id="receiver_data_column1_titles" style="width: 10%">
        <dt>Señor:</dt>
        <dt>Giro:</dt>
        <dt>R.U.T.:</dt>
        <dt>Dirección:</dt>
    </div>
    <div id="receiver_data_column1_data" style="width: 40%">
        <dt>{{receptor_razon_social}}</dt>
        <dt>{{receptor_giro}}</dt>
        <dt>{{receptor_rut}}</dt>
        <dt>{{receptor_direccion}}</dt>
    </div>
    <div id="receiver_data_column2_titles" style="width: 10%">
        <dt>Ciudad:</dt>
        <dt>Comuna:</dt>
        <dt>Forma de:</dt>
        <dt>Fecha Venc:</dt>
    </div>
    <div id="receiver_data_column2_data" style="width: 40%">
        <dt>{{receptor_ciudad}}</dt>
        <dt>{{receptor_comuna}}</dt>
        <dt>{{forma_pago_palabras}}</dt>
        <dt>{{fecha_vencimiento}}</dt>
    </div>
</div>

<div id="referencias_table">
    <div>Referencias: <br>{{referencias_table}}</div>
</div>


<div id="item_table">{{purchase_invoice_items}}</div>
<div id="impuestos_table">{{impuestos_table}}</div>



<div id="total">

    <div style="font-weight: bold; border-width: 1px; border-style: solid; height: 0.7cm; font-size: 0.4cm; line-height: 0.7cm; ">
        SON <a
            style="font-weight: normal;">{{monto_total_palabras}}</a></div>

    <div style="height: 4cm; display: flex;">
        <div style="width: 50%;">
            <div style="height: 90%;">
                <section id="imagen-svg" style="width: 50%"></section>
            </div>
            <div style="height: 10%; text-align: center; line-height: 100%; vertical-align: top; font-size: 0.2cm">
                <a>Timbre electrónico S.I.I.</a><br>
                <a>Verifique documento en: http://www.sii.cl</a>
            </div>

        </div>
        <div style="width: 50%; display: flex; font-size: 10pt;">
            <div style="width: 50%; height: 80%;">
                <div style="width: 100%; height: 20%; padding-top: 5px; border-bottom: 1px solid black; display: flex;">
                    <span style="width: 50%">Impuestos:</span><span
                        style="width: 50%; text-align: right; padding-right: 10px;">{{monto_impuesto_y_retenciones}}</span>
                </div>
                <div style="width: 100%; height: 20%; padding-top: 5px;border-bottom: 1px solid black; display: flex;">
                    <span style="width: 50%">Retenciones:</span><span
                        style="width: 50%; text-align: right; padding-right: 10px;">0</span>
                </div>
                <div style="width: 100%; height: 20%; padding-top: 5px;border-bottom: 1px solid black; display: flex;"><span
                        style="width: 50%">Descuento:</span><span
                        style="width: 50%; text-align: right; padding-right: 10px;">0</span></div>
                <div style="width: 100%; height: 20%; padding-top: 5px;border-bottom: 1px solid black; display: flex;"><span
                        style="width: 50%">Recargo:</span><span
                        style="width: 50%; text-align: right; padding-right: 10px;">0</span></div>
                <div style="width: 100%; height: 20%; padding-top: 5px;"></div>
            </div>

            <div style="width: 50%; height: 80%;">
                <div style="width: 100%; height: 20%; padding-top: 5px;border-bottom: 1px solid black; display: flex;">
                    <span style="width: 50%">Neto:</span><span
                        style="width: 50%; text-align: right; ">{{monto_neto}}</span>
                </div>
                <div style="width: 100%; height: 20%; padding-top: 5px;border-bottom: 1px solid black; display: flex;">
                    <span style="width: 50%">Exento:</span><span
                        style="width: 50%; text-align: right; ">{{monto_exento}}</span>
                </div>
                <div style="width: 100%; height: 20%; padding-top: 5px;border-bottom: 1px solid black; display: flex;">
                    <span style="width: 50%">19% I.V.A.:</span><span
                        style="width: 50%; text-align: right; ">{{monto_iva}}</span>
                </div>
                <div style="width: 100%; height: 20%; padding-top: 5px;border-bottom: 1px solid black; display: flex;"></div>
                <div style="width: 100%; height: 20%; padding-top: 5px;font-weight: bold; display: flex;"><span
                        style="width: 50%">Monto Total:</span><span
                        style="width: 50%; text-align: right; ">{{monto_total}}</span></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>